body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit' ,sans-serif;
}
p{
  font-weight: 15px;
  text-align: center;
  padding:3px;
  color:hsl(220, 15%, 55%);


}
h4{
  font-weight: 15px;
  text-align: center;
  padding: 3px;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 40%;
  position:relative;
  padding: 15px;
  margin : 100px auto 100px auto;
  border-radius: 14px;
  background-color:hsl(0, 0%, 100%);

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.qrimage{
  width:100%;
  border-radius:10px;
}
